.certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: var(--spacing);
  padding-bottom: var(--spacing);
  flex-wrap: wrap;
}

.certCard {
  color: white;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  flex-direction: row;
  padding: 0 !important;
  cursor: pointer;
  width: max-content;
  max-width: 600px;
}

.row {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.textWrap {
  transition: all 0.9s ease-in-out;
  z-index: 1;
}
.certContainer img {
  height: 12em;
  margin-top: 25px;
  transition: all 1.3s ease-in-out;
  width: max-content;
  filter: drop-shadow(0 0 40px black);
}

.tech {
  font-size: 12px;
  white-space: nowrap;
}

.viewCerts {
  font-size: 14px;
}

.codeCademyCerts {
  font-size: 24px;
  padding: 10px 0;
  color: black;
  font-weight: bold;
}
.codeCademyCerts h3 {
  text-overflow: wrap;
  max-width: 600px;
}

.certCard::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #03b979;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.closeModal {
  margin-left: 250px;
  margin-top: -20px;
}

.closeModal:hover {
  filter: brightness(100);
}

.modalTitle {
  text-align: center;
  margin-bottom: 10px;
  color: #03b979;
}

.certDescription {
  margin-bottom: 10px;
}

@media (min-width: 750px) {
  .certCard {
    flex-direction: row;
    padding: var(--sm-spacing) !important;
    height: 350px;
  }

  .certifications {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }

  .certContainer {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
  }

  .certCard:hover .certContainer {
    transform: translateX(-70%);
  }

  .certCard:hover .textWrap {
    transform: translateX(-250%);
  }

  .certCard:hover::before {
    opacity: 0;
  }

  .certCard:hover .certContainer img {
    scale: 1.4;
  }

  .certContainer {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
  }

  .textWrap {
    text-shadow: none;
  }

  .codeCademyCerts {
    font-size: 30px;
    padding: 10px 0;
    text-decoration-line: underline;
    overflow: hidden;
  }

  .viewCerts {
    font-size: 16px;
  }

  .tech {
    font-size: 14px;
  }
}
